 <style>
      /* css:reset */
     
      body {
        font-family: 'Baloo Bhai', cursive;
        color: white;
        margin: 0px;
        padding: 0px;
        background: url("image/training.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        
      }

      /* .left {
          display: inline-block;
          border: 2px solid red;
          position: absolute;
          left: 60px;
          top: 20px;
      } */
      /* .left img{
          width: 136px;
      } */
      .left div{
          text-align: center;
          line-height: 19px;
          font-size: 26px;;
      }

      .mid {
          display:block;
          width: 36%;
          margin: 20px auto;
          /* border: 2p5x solid green; */
      }
      

      .right {
          position: absolute;
          right: 34px;
          top: 28px;
          display: inline-block;
          /* border: 2px solid yellow; */
      }

      .navbar{
          display: inline-block;
      }
      .navbar li{
          display: inline-block;
        }
        
      .navbar li a{
          font-size:17px ;
          color: white;
          text-decoration: none;
          padding: 34px 17px;
                
        }
       
     .navbar li a:hover, .navbar li a.active{
         text-decoration: underline;
         color: red;
     }

   .btn{
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 4px 14px;
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 17px;
    font-family: 'Baloo Bhai', cursive;

   }
   .btn:hover {
    background-color: #453636;
    color: red;
   }

   .container{
    border: 2px solid white;
    margin: 193px 70px;
    padding: 30px 70px 70px 70px;
    width: 31%;
    border-radius: 27px;
   }
   .form-group input{
       text-align: center;
       display: block;
       width: 448px;
       padding: 6px;
       border: 2px solid black;
       margin: 10px auto;
       font-size: 20px;
       border-radius: 8px;
       font-family: 'Baloo Bhai', cursive;
   }
   .container h1{
       text-align: center;
   }
   .container button{
       display: block;
    width: 98%;
    margin: 20px auto;
}

    </style>
